<a href="https://colab.research.google.com/github/PaulaYaniz/Unit-1/blob/main/lesson1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Programming practice #1

① Write a program that calculates the addition of all integer numbers from 0 to 2021.

$$Total = n(n+1)/2$$

In [ ]:
# Calculate the addition of all integers up to n
# using the arithmetic sequence

# the input function always give us a string. I can use the int() function to convert the number
n = int( input("Please enter an integer larger than zero: ") )

total =( n * (n+1) )/2

# using f-string to shown the result
print(f"The total is {total}")
# the classic style
print("The total is ", total)

② Write a program that calculates the value of y when the user enters a integer x
$$y = 2*(x+3) - 3 $$

In [1]:
# Step 1: get the input from the user
# Step 2: convert the input which is string to number
# Step 3: asign (save, store) the input to variable x
x = int( input("Please enter the value for x: "))

# Step 4: write the equation for y
y = 2 * (x + 3) - 3
# Step 5: show the result
print("The value of y is ", y)

Please enter the value for x 3
The value of y is  9

③ Write a program that asks the user for his name and grade and outputs the user’s email address at UWC ISAK:

Example:

Input:

name: John Doe

grade: 10

Output:

2024.john.doe@uwcisak.jp

In [1]:
# Step 1: ask user for first name and then last name, and grade
first_name = input("Please enter your first name: ")
last_name = input("Please enter your last name: ")
grade = int(input("Please enter your grade [10, 11, 12]: "))

# Step 2:
#patter recognition
# 2024 =>10. you can get this by 2034-10
# 2023 =>11. you can get this by 2034-11
# 2022 =>12. you can get this by 2034-12
year = 2034 - grade

#Step 3:
print(f"Your email address is {year}.{first_name}.{last_name}@uwcisak.jp")

Please enter your first name: Paula
Please enter your last name: Yaniz
Please enter your grade [10, 11, 12]: 11
Your email address is 2023.Paula.Yaniz@uwcisak.jp

④ Write a program that converts a temperature from Fahrenheit to Celsius.

In [16]:
#Formula: (32°F − 32) * 5/9 = 0°C
Fahrenheit = int(input("Enter the Fahrenheit temperature you want to convert to Celsius: "))

Celsius = (Fahrenheit - 32) * 5/9

print(f"{Fahrenheit}ºF is equivalent to {Celsius}ºC")

Enter the Fahrenheit temperature you want to convert to Celsius: 77
77ºF is equivalent to 25.0ºC

⑤ Write a program to convert from miles to kilometers。

$$miles = 1.609* kilometers$$

In [18]:
#Formula: miles * 1.609 = Km
Miles = int(input("Miles: "))

Km = Miles * 1.609

print(f"{Miles} miles is equivalent to {Km} kilometers.")

Miles: 2
2 miles is equivalent to 3.218 kilometers.

⑥ Write a program that solves the Quadratic Equation for valid inputs a, b, c。

⑦ Write a program to reverse a number entered by the user。

⑧ Write a program that asks the user for their name, age, nationality and produces a greeting message such as “Welcome John Doe you are 30 years old and a national of Colombia”

In [ ]:
name = input("What's your name?: ")
age = int(input("How old are you?: "))
country = input("Which country were you born in?: ")

print(f"Welcome {name}, you are {age} years old and a national of {country}.")

⑨ Create one more program that converts between different units.

In [20]:
#Liters to cubic meters

Liters = int(input("Liters: "))

Cubic_meters = Liters / 1000

print(f"{Liters} liters is equivalent to {Cubic_meters} cubic meters.")

Liters: 489
489 liters is equivalent to 0.489 cubic meters.